<body>
<footer>
<div class="footer_info">
<div class="footer_info_socials">
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-x-twitter"></i>
</div>
<div class="slogan">&copy; Travel the world! </div>
<div class="anchor_links">
<a href="/privacy">Privacy</a>
<a href="/terms">Terms</a>
</div>
</div>
</footer>
</body>
