<nav class="navbar">
    <div>
	    <ul>
		<li><a href="/" style="#d41406"><i class="fa-solid fa-house" style="#d41406"></i></a></li>
		<li><a href="/listings">Listings</a></li>
		<li><a href="#">Features</a></li>
		<li><a href="/listings/new">Add new Listings</a></li>
	    </ul>
    </div>
    <div class="nav ">
	    <ul>
		<% if(!currUser) { %>
		<li><a href="/signin" >Signin </a></li>
		<li><a href="/login">login</a></li>
		<% } %>
		<% if(currUser) { %> 
		<li><a href="/logout">logout</a></li>
		<% } %> 
	    </ul>
    </div>
</nav>
