<nav class="navbar">
    <div class="navbar-nav">
	    <ul>
		<li><a href="/listings" style="color:#f70546;opacity:1;"><i class="fa-solid fa-house"></i></a></li>
		<li><a href="/listings">Explore</a></li>
	    </ul>
    </div>
    <div class="navbar-nav search">
	  <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-search " type="submit">
	    <i class="fa-solid fa-magnifying-glass"></i>Search
	</button>
      </form>
    </div>
    <div class="navbar-nav">
	    <ul>
		<li><a href="/listings/new">Become a host</a></li>
		<% if(!currUser) { %>
		<li><a href="/signin" ><b>Signin</b> </a></li>
		<li><a href="/login"><b>login</b></a></li>
		<% } %>
		<% if(currUser) { %> 
		<li><a href="/logout"><b>logout</b></a></li>
		<% } %> 
	    </ul>
    </div>
</nav>
