    <div class="filters mt-3">
	<a href="/listings"> 
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-fire"></i>
		</div>
		<p>Trending</p>
	    </div>
	</a>
	<a href="/listings/beaches">
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-umbrella-beach"></i>
		</div>
		<p>Beaches</p>
	    </div>
	</a>
	<a href="/listings/mountains">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-mountain-sun"></i>
		</div>
		<p>Mountains</p>
	    </div>
	</a>
	<a href="/listings/outdoors">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-door-open"></i>
		</div>
		<p>Outdoors</p>
	    </div>
	</a>
	<a href="/listings/snowy">
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-snowman"></i>
		</div>
		<p>Snowy</p>
	    </div>
	</a>
	<a href="/listings/camping">
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-campground"></i>
		</div>
		<p>camping</p>
	    </div>
	</a>
	<a href="/listings/cities">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-tree-city"></i>
		</div>
		<p>Cities</p>
	    </div>
	</a>
	<a href="/listings/adventure">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-compass"></i>
		</div>
		<p>Adventure</p>
	    </div>
	</a>
    </div>
