<% layout('./const/boilerplate') -%>
<body>
	    <form action="/listings" method="post">
	    <div>
	    <label for="title" class="form-label">Title</label><br>
	    <input type="text" name="title" id="title" class="form-control" >
	    </div>
	    <div>
	    <label for="price"class="form-label">price</label><br>
	    <input type="text" name="price" id="price" class="form-control">
	    </div>
	    <div>
	    <label for="location"class="form-label">location</label><br>
	    <input type="text" name="location" id="location" class="form-control">
	    </div>
	    <div>
	    <label for="country"class="form-label">country</label><br>
	    <input type="text" name="country" id="country" class="form-control">
	    </div>
	    <div>
	    <label for="image"class="form-label">Enter Image URL</label><br>
	    <input type="text" name="country" id="country" class="form-control">
	    </div>
	    <div>
	    <label for="description"class="form-label">description</label><br>
	    <textarea name="description" id="description"class="form-control"rows="3" cols="75"></textarea>
	    </div>
	    <br><br>
	    <button class="btn btn-dark">post</button>
	</form>
	
</body>
